.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.inputfilter {
    width: 300px;
    height: 70%;
}

.itemtoolbar {
    margin: 10px;
}

table {
    width: 100%;
}

.alinhaNumerico {
    text-align: right;
}

i.edit {
    color: yellowgreen;
    margin-right: 10px;
}

i.delete {
    color: red;
}