<header class="cabecalho">
    <div class="logo">
        <a href="#inicio">
            <img src="assets/img/logo2.jpg" alt="Logo" />
        </a>
    </div>
    <nav class="menu">
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/products">Product</a>
            </li>
        </ul>
    </nav>
    <aside class="autenticacao">
        <a>{{userName}}</a>
        <button (click)="logoff()" class="botao destaque">Logoff</button>
    </aside>
</header>
