<mat-sidenav-container class="container">
    <mat-sidenav class="cor-verde-background" mode="side" opened fixedInViewport="true" fixedTopGap="64" >
        <mat-nav-list class="nav-list">
            <a class="cor-verde-background" routerLink="/">
                <i class="material-icons">home</i>
                <div class="text-link">Home</div>
            </a>
            <a class="cor-verde-background" routerLink="/products">
                <i class="material-icons">storefront</i>
                <div class="text-link">Product</div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
